@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: #1B2845;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

header {
    position: absolute;
    width: 100%;
}

header ion-icon {
    padding: 45px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

section {
    height: 100vh;
}